<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <<link rel="stylesheet" type="text/css" href="base_temp.css" media="screen"/>
</head>

<body>
<header>
    <img src="not.jpg" class="">
    <button class="deconnexion">
        Mr/Mme &nbsp;XYX
        <img src="off.jpg" class="off"/>
    </button>
</header>
<div id="mySidenav" class="sidenav">
    <a href="#">Nouveau client</a>
    <a href="#">Dossiers medicaux</a>
    <a href="#">disponibilité</a>
    <a href="#">Contact</a>
</div>
<span></span>

</body>
</html>